<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="current_session_context_class">thread</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:pannadatabas</property>
        <property name="connection.username">SYSTEM</property>
        <property name="connection.password">panna</property>
        <property name="hibernate.default_schema">SYSTEM</property>
        <property name="show_sql">true</property>

        <mapping class="database.models.ContractsEntity"/>
        <mapping class="database.models.CountriesEntity"/>
        <mapping class="database.models.AddressesEntity"/>
        <mapping class="database.models.EmployeesEntity"/>
        <mapping class="database.models.FootbalClubsEntity"/>
        <mapping class="database.models.MatchTypesEntity"/>
        <mapping class="database.models.MatchesEntity"/>
        <mapping class="database.models.PhysiotherapistsEntity"/>
        <mapping class="database.models.PlayerParticipationEntity"/>
        <mapping class="database.models.PlayersEntity"/>
        <mapping class="database.models.SocialMediaEntity"/>
        <mapping class="database.models.SponsorsEntity"/>
        <mapping class="database.models.SportFacilitiesEntity"/>
        <mapping class="database.models.TrophiesEntity"/>
        <mapping class="database.models.MatchOverviewsEntity"/>
        <mapping class="database.models.PositionsOnPitchEntity"/>

        <!-- DB schema will be updated if needed -->

    </session-factory>
</hibernate-configuration>